doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Example Email
  body
    h1 Hello #{name},
    p This is an example email template.
